<%- include ('partials/header') -%>
<%- include ('partials/navbar') -%>


<header id="header">
    <div class="container py-4">
        <h1 class="big-heading"><%= aboutPost.name %> </h1>
        <p><%= aboutPost.content %> </p>

    </div>
</header>

<%- include ('partials/footer') -%>
