<%- include ('partials/header') -%>
<%- include ('partials/navbar') -%>

<main class="text-center vertical-centered-section container py-4">
  <h1 class="gigantic-heading"><%= title %></h1>
  <p class="subtitle"> <%= description %> </p>
</main>


<%- include ('partials/footer') -%>